.about-us-container {
  padding: 40px;
  max-width: 1200px;
  margin-top: 5rem;
}
.about-us-parent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-header {
  text-align: center;
  margin-bottom: 50px;
}

.about-us-header h1 {
  font-size: 2.5rem;
  color: #333;
}

.about-us-header p {
  font-size: 1.2rem;
  color: #666;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-mission,
.about-us-team,
.about-us-values {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-mission h2,
.about-us-team h2,
.about-us-values h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 20px;
}

.about-us-mission p,
.about-us-values p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.about-us-team {
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  flex: 1;
  max-width: 200px;
  margin: 20px;
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: #777;
}

.about-us-values ul {
  list-style: none;
  padding-left: 0;
}

.about-us-values li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.about-us-values strong {
  color: #222;
}

  