.sidebar {
    width: 15rem;
    background-color: #fff;
    padding: 1.25rem;
    height: 100vh;
    position: fixed;
    border-right: 1px solid #ddd;
    box-shadow: 0 2px 4px #006F5E;
    padding-top: 7rem;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .sidebar-logout-btn{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10rem;
    left: 0rem;
  }
  .side-logo{
    width: 2rem;
  }

  .sidebar-text:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }