.btn {
    background-color: #006F5E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn:hover {
    background-color: #29464E;
  }
  
  