.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-40%);
    background-color: #ffffff;
    border: 0.5px solid #006F5E;
    color: #006F5E;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
    opacity: 0.9;
    visibility: visible;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  